<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "http://mybatis.org/dtd/mybatis-3-config.dtd" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
    <setting name="logImpl" value="STDOUT_LOGGING"/>
</settings>
<typeAliases>
<typeAlias type="com.snowsoft.bean.User" alias="User"/>
<typeAlias type="com.snowsoft.bean.Dept" alias="Dept"/>
<typeAlias type="com.snowsoft.bean.Company" alias="Company"/>
<typeAlias type="com.snowsoft.bean.Car" alias="Car"/>
<typeAlias type="com.snowsoft.bean.CarOwner" alias="CarOwner"/>
<typeAlias type="com.snowsoft.bean.Driver" alias="Driver"/>
<typeAlias type="com.snowsoft.bean.Encourage" alias="Encourage"/>
<typeAlias type="com.snowsoft.bean.Punish" alias="Punish"/>
<typeAlias type="com.snowsoft.bean.Rule" alias="Rule"/>
</typeAliases>
</configuration>
