<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snowsoft.dao.CarOwnerCheckDao">

<select id="getCarOwnerList" parameterType="map" resultType="map">
SELECT tco.id, tco.`name`, tco.sex, tco.`tel`, tco.`address`, tc.`fullName` companyName, tco.`isType`  FROM t_carowner tco, t_company tc
WHERE tco.`company_id` = tc.`id` AND tco.`isSend` = 1
</select>

<select id = "getCount" resultType = "int">
SELECT COUNT(*) FROM (SELECT tco.id, tco.`name`, tco.sex, tco.`tel`, tco.`address`, tc.`fullName` companyName, tco.`isType`  FROM t_carowner tco, t_company tc
WHERE tco.`company_id` = tc.`id` AND tco.`isSend` = 1)AS temp;
</select>

<update id="sendCarOwner" parameterType="map">
update t_carowner set isType = 1, checkPeople = #{checkPeople}, checkPeople_name = #{checkPeople_name}, check_time = #{check_time},
check_suggestion = #{check_suggestion} where id = #{id}
</update>

</mapper>